In [14]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\m7785\Downloads\Data Analysis5 (1).csv")
df

,Name,Gender,Age,Products,Dairy,Grocery,Health and Beauty,Beverages,Bakery,others,Payment methods,Sales-Person type,Times of Day,Times of Week,Discount Applied,Size,Rating,Often Visiters,Favorite,Suggestion
0,abhishek kumar,Male,17 - 25,Grocery,False,True,False,False,False,False,Online Payment,Conversationalist,Evening,Weekends,No,Small (1-5 items),3,No,Nothing,No
1,Aditya Raj,Male,17 - 25,"Dairy, Grocery, Health and Beauty, Beverages, ...",True,True,True,True,True,True,Online Payment,Friendly,Evening,"Weekdays, Weekends, Festive days",Yes,Small (1-5 items),4,Yes,Nothing,No
2,Akhil Tummala,Male,17 - 25,"Dairy, Grocery, Health and Beauty",True,True,True,False,False,False,Online Payment,Fast in work,Evening,Weekends,May be,Small (1-5 items),2,Yes,Nothing,No
3,Amiya Vatsa,Male,17 - 25,"Dairy, Grocery, Health and Beauty, Beverages, ...",True,True,True,True,True,True,Online Payment,Fast in work,Evening,Weekends,Yes,Small (1-5 items),4,Yes,It's nearby,No
4,Anand Kumar Rai,Male,17 - 25,"Dairy, Grocery, Health and Beauty, Bakery",True,True,True,False,True,True,Online Payment,Friendly,Evening,Weekends,Yes,Medium (6-15 items),3,Yes,All products at the same place,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Umar,Female,17 - 25,Dairy,True,False,False,False,False,False,Online Payment,Friendly,Evening,Weekends,May be,Medium (6-15 items),5,Yes,Nothing,No
73,Varun.j,Male,17 - 25,Dairy,True,False,False,False,False,False,Cash/Card,Friendly,Evening,Weekends,Yes,Small (1-5 items),5,Yes,Chocolate,Nothing
74,VIMLESH YADAV,Male,17 - 25,Dairy,True,False,False,False,False,False,Online Payment,Friendly,Evening,Weekends,May be,Small (1-5 items),4,Yes,Nothing,No
75,Vipin Tembhurne,Male,17 - 25,"Beverages, Bakery, Others",False,False,False,True,True,True,Online Payment,Friendly,Evening,"Weekdays, Weekends",May be,Small (1-5 items),5,Yes,Nothing,No
76,Yash Kumar,Male,17 - 25,"Dairy, Grocery, Health and Beauty, Beverages, ...",True,True,True,True,True,True,Online Payment,Friendly,Evening,Weekends,Yes,Small (1-5 items),5,Yes,"When it comes to shopping at a mart, some of t...",No

In [6]:
df.info

<bound method DataFrame.info of                Name  Gender      Age  \
0    abhishek kumar    Male  17 - 25
1        Aditya Raj    Male  17 - 25
2     Akhil Tummala    Male  17 - 25
3       Amiya Vatsa    Male  17 - 25
4   Anand Kumar Rai    Male  17 - 25
..              ...     ...      ...
72             Umar  Female  17 - 25
73          Varun.j    Male  17 - 25
74    VIMLESH YADAV    Male  17 - 25
75  Vipin Tembhurne    Male  17 - 25
76       Yash Kumar    Male  17 - 25

                                             Products  Dairy  Grocery  \
0                                             Grocery  False     True
1   Dairy, Grocery, Health and Beauty, Beverages, ...   True     True
2                   Dairy, Grocery, Health and Beauty   True     True
3   Dairy, Grocery, Health and Beauty, Beverages, ...   True     True
4           Dairy, Grocery, Health and Beauty, Bakery   True     True
..                                                ...    ...      ...
72                                              Dairy   True    False
73                                              Dairy   True    False
74                                              Dairy   True    False
75                          Beverages, Bakery, Others  False    False
76  Dairy, Grocery, Health and Beauty, Beverages, ...   True     True

    Health and Beauty  Beverages  Bakery  others Payment methods  \
0               False      False   False   False  Online Payment
1                True       True    True    True  Online Payment
2                True      False   False   False  Online Payment
3                True       True    True    True  Online Payment
4                True      False    True    True  Online Payment
..                ...        ...     ...     ...             ...
72              False      False   False   False  Online Payment
73              False      False   False   False       Cash/Card
74              False      False   False   False  Online Payment
75              False       True    True    True  Online Payment
76               True       True    True    True  Online Payment

    Sales-Person type Times of Day                     Times of Week  \
0   Conversationalist      Evening                          Weekends
1            Friendly      Evening  Weekdays, Weekends, Festive days
2        Fast in work      Evening                          Weekends
3        Fast in work      Evening                          Weekends
4            Friendly      Evening                          Weekends
..                ...          ...                               ...
72           Friendly      Evening                          Weekends
73           Friendly      Evening                          Weekends
74           Friendly      Evening                          Weekends
75           Friendly      Evening                Weekdays, Weekends
76           Friendly      Evening                          Weekends

   Discount Applied                 Size  Rating Often Visiters  \
0                No    Small (1-5 items)       3             No
1               Yes    Small (1-5 items)       4            Yes
2            May be    Small (1-5 items)       2            Yes
3               Yes    Small (1-5 items)       4            Yes
4               Yes  Medium (6-15 items)       3            Yes
..              ...                  ...     ...            ...
72           May be  Medium (6-15 items)       5            Yes
73              Yes    Small (1-5 items)       5            Yes
74           May be    Small (1-5 items)       4            Yes
75           May be    Small (1-5 items)       5            Yes
76              Yes    Small (1-5 items)       5            Yes

                                             Favorite Suggestion
0                                             Nothing         No
1                                             Nothing         No
2                                             Nothing         No
3                                        It's nearby          No
4                      All products at the same place         No
..                                                ...        ...
72                                            Nothing         No
73                                         Chocolate    Nothing
74                                            Nothing         No
75                                            Nothing         No
76  When it comes to shopping at a mart, some of t...         No

[77 rows x 20 columns]>

In [7]:
df.describe()

          Rating
count  77.000000
mean    3.688312
std     0.862367
min     2.000000
25%     3.000000
50%     4.000000
75%     4.000000
max     5.000000

In [8]:
df.isnull().sum()

Name                 0
Gender               0
Age                  0
Products             0
Dairy                0
Grocery              0
Health and Beauty    0
Beverages            0
Bakery               0
others               0
Payment methods      0
Sales-Person type    0
Times of Day         0
Times of Week        0
Discount Applied     0
Size                 0
Rating               0
Often Visiters       0
Favorite             0
Suggestion           1
dtype: int64

In [10]:
df.nunique()

Name                 77
Gender                2
Age                   2
Products             33
Dairy                 2
Grocery               2
Health and Beauty     2
Beverages             2
Bakery                2
others                2
Payment methods       2
Sales-Person type     3
Times of Day          4
Times of Week         7
Discount Applied      3
Size                  3
Rating                4
Often Visiters        2
Favorite             42
Suggestion           22
dtype: int64

In [12]:
df.sort_values(by = "Age").head()

,Name,Gender,Age,Products,Dairy,Grocery,Health and Beauty,Beverages,Bakery,others,Payment methods,Sales-Person type,Times of Day,Times of Week,Discount Applied,Size,Rating,Often Visiters,Favorite,Suggestion
0,abhishek kumar,Male,17 - 25,Grocery,False,True,False,False,False,False,Online Payment,Conversationalist,Evening,Weekends,No,Small (1-5 items),3,No,Nothing,No
52,Priyanka bharti,Female,17 - 25,Beverages,False,False,False,True,False,False,Online Payment,Fast in work,Evening,Weekends,May be,Medium (6-15 items),4,Yes,This is a comfortable way as we get all the st...,No
51,PRITAM SAHA,Male,17 - 25,"Beverages, Bakery",False,False,False,True,True,True,Online Payment,Friendly,Evening,Festive days,Yes,Small (1-5 items),4,Yes,availablity of a large variety of Products,Discount Coupon presentation should be more cl...
50,Pranathi,Female,17 - 25,"Bakery, Others",False,False,False,False,True,True,Cash/Card,Friendly,Evening,Weekends,Yes,Large (16+ items),2,No,Nothing,"Ac,"
49,Pavan,Male,17 - 25,"Dairy, Beverages, Bakery",True,False,False,True,True,True,Online Payment,Friendly,Night,Weekends,Yes,Medium (6-15 items),5,Yes,Nothing,No